<style>
	.posts{
		padding: 5px 15px;
		height: 100%;
		background-color: #fff;
	}
	.posts a{
		text-decoration-line: none;
		display: table-cell;
		vertical-align: top;
	}
	ul.posts-list{
		list-style: none;
		padding: 0;
	}
	ul.posts-list>li{
		position:relative;
	}
	ul.posts-list>li+li{
		border-top: 1px solid #e2e7eb;
	}
	.post{
		display: inline-block;
		word-break: break-word !important;
	}
	.user-img{
		padding: 10px;
	}
	.user-img>img{
		width:50px;
		height:50px;
		border-radius: 50%;
	}
	.posts>.posts-heading{
		padding-bottom: 10px;
    	line-height: 30px;
    	border-bottom: 1px solid #e2e7eb;
	}
	.posts-title{
		font-size: 18px;
		color: #000;
	}
	.before{
		display: table-cell; 
    	content: "";
    	border: 20px solid transparent;
    	border-right-color: #fff;
    	right: -20px;
    	position: absolute;
	}
	.users-heading{
		margin: 0 0 10px 0;
		background-color: #fff;
		padding: 10px; 
	}
	ul.users-list{
		padding: 0;
	}
	ul.users-list>li{
		cursor: pointer;
		background-color: #fff;
		padding: 10px;
		margin-top: 5px;
	}
	.user-page-index{
		margin-top: -15px;
		width: 100%;
		text-align: right;
	}
	.disabled{
		cursor: not-allowed;
	}
	.pagination .active{
		color: #fff !important;
		background-color: #000 !important;
	}
</style>
<div class="content">
	<div class="col-xs-6" id="userlist">
		<h3 class="users-heading" style="font-size: 18px; color: #000;">敏感用户</h3>
		<ul class="users-list list-unstyled">
			<li class="user-item" ng-repeat="(index, user) in showUsers" ng-click="showUserpost(index,index,$event)">
				<a class="user-img pull-left" href={{user.poster.home_url}}>
					<img src={{user.poster.img_url}} ng-if="user.poster.img_url&&user.poster.img_url!=''"/>
					<img src="/static/assets/img/user-13.jpg" ng-if="!user.poster.img_url||user.poster.img_url==''"/>
				</a>
				<div class="user-body" style="display: table-cell">
					<div class="before"></div>
					<h4 class="user-name">{{user.poster.name}}</h4>
					<ul class="breadcrumb">
						<li>关注数：{{user.poster.following}}</li>
						<li>粉丝数：{{user.poster.follows}}</li>
						<li>发帖数：{{user.poster.post_num}}</li>
					</ul>
					<ul class="breadcrumb">
						<!-- <li>来自：{{user.poster.site}}</li> -->
					</ul>
					<ul class="breadcrumb">
						<li>地址：{{user.poster.location}}</li>
						<li>生日：{{user.poster.birthday}}</li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="user-page-index">
			<div class="dataTables-paginate paging_simple_numbers" id="data-table_paginate">
				<ul class="pagination">
					<li ng-click="getTableData(tablepage-1)"><a href="javascript::void" ng-class="{disabled:tablepage<=1}" class="btn btn-xs"><<</a></li>
					<li ng-repeat="(index, p) in pageset" ng-click="getTableData(p)"><a href="javascript::void" class="btn btn-xs" ng-class="{active:p==tablepage}">{{p}}</a></li>
					<li ng-click="getTableData(tablepage+1)"><a href="javascript::void" ng-class="{disabled:tablepage>=max_page}" class="btn btn-xs">>></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-6 full-height">
		<div class="posts" ng-scrollbar rebuild-on="rebuild:me">
			<div class="posts-heading">
				<h3 class="posts-title">相关帖子</h3>
			</div>
			<div class="posts-body">
				<ul class="posts-list">
					<li class="post-item" ng-repeat="(index, post) in showPosts" ng-mouseenter="showTrans(post)" ng-mouseleave="hideTrans(post)">
						<a class="user-img">
							<img src={{post.post_img}} ng-if="post.post_img&&post.post_img!=''"/>
							<img src="/static/assets/img/user-13.jpg" ng-if="!post.post_img||post.post_img==''"/>
						</a>
						<a class="post" href={{post.post_url}}>
							<h4 class="post-title">{{post.user_name}}</h4>
							<p class="post-content" ng-if="!post.is_trans">{{post.content}}</p>
							<p class="post-content" ng-if="post.is_trans">{{post.trans_content}}</p>
							<p class="text-muted post-info"><i>发帖时间： 2017-11-12{{post.pt_time}} 站点： {{post.site_name}}  转发({{post.repost_num}}) 点赞({{post.like_num}})</i></p>
						</a>
						<p class="text-right trans pull-right" ng-show="post.lan_type!=0&&post.showTrans&&!post.is_trans" style="line-height:50px;padding:0;margin: -40px 0 0 0;"><a class="btn" ng-click="translate(post)" title="翻译为中文"><img src="/static/assets/icon/translate1.svg" alt="翻译" style="width: 1.2em;" /></a></p>
						<p class="text-right trans pull-right" ng-show="post.lan_type!=0&&post.showTrans&&post.is_trans" style="line-height:50px;padding:0;margin: -40px 0 0 0;"><a class="btn" ng-click="translate(post)" title="查看原贴"><img src="/static/assets/icon/translate1.svg" alt="翻译" style="width: 1.2em;" /></a></p>
					</li>
				</ul>
			</div>
		</div>
		<div id="posts" style="display: none">
			<div class="posts-heading">
				<h3 class="posts-title">相关帖子</h3>
			</div>
			<div class="posts-body">
				<ul class="posts-list">
					<li class="post-item" ng-repeat="(index, post) in showPosts" ng-mouseenter="showTrans(post)" ng-mouseleave="hideTrans(post)">
						<a class="user-img">
							<img src={{post.post_img}} ng-if="post.post_img&&post.post_img!=''"/>
							<img src="/static/assets/img/user-13.jpg" ng-if="!post.post_img||post.post_img==''"/>
						</a>
						<a class="post" href={{post.post_url}}>
							<h4 class="post-title">{{post.user_name}}</h4>
							<p class="post-content" ng-if="!post.is_trans">{{post.content}}</p>
							<p class="post-content" ng-if="post.is_trans">{{post.trans_content}}</p>
							<p class="text-muted post-info"><i>发帖时间： 2017-11-12{{post.pt_time}} 站点： {{post.site_name}}  转发({{post.repost_num}}) 点赞({{post.like_num}})</i></p>
						</a>
						<p class="text-right trans pull-right" ng-show="post.lan_type!=0&&post.showTrans&&!post.is_trans" style="line-height:50px;padding:0;margin: -40px 0 0 0;"><a class="btn" ng-click="translate(post)" title="翻译为中文"><img src="/static/assets/icon/translate1.svg" alt="翻译" style="width: 1.2em;" /></a></p>
						<p class="text-right trans pull-right" ng-show="post.lan_type!=0&&post.showTrans&&post.is_trans" style="line-height:50px;padding:0;margin: -40px 0 0 0;"><a class="btn" ng-click="translate(post)" title="查看原贴"><img src="/static/assets/icon/translate1.svg" alt="翻译" style="width: 1.2em;" /></a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>